# Train the model

In [53]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
import joblib

In [54]:
data = pd.read_csv('../data/House_Rent_Dataset_Clean.csv')
data.head()

,Posted On,BHK,Rent_Floor,Total_Floors,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Rent
0,2022-05-18,2,0,2,1100,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,10000
1,2022-05-13,2,1,3,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,20000
2,2022-05-16,2,1,3,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,17000
3,2022-07-04,2,1,2,800,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,10000
4,2022-05-09,2,1,2,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner,7500

In [55]:
le = LabelEncoder()
data['Area Type'] = le.fit_transform(data['Area Type'])
data['Furnishing Status'] = le.fit_transform(data['Furnishing Status'])
data['Tenant Preferred'] = le.fit_transform(data['Tenant Preferred'])
data['Point of Contact'] = le.fit_transform(data['Point of Contact'])
data['City'] = le.fit_transform(data['City'])

data = data.drop(['Posted On', 'Area Locality'], axis=1)
data.head()

,BHK,Rent_Floor,Total_Floors,Size,Area Type,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Rent
0,2,0,2,1100,2,4,2,1,2,2,10000
1,2,1,3,800,2,4,1,1,1,2,20000
2,2,1,3,1000,2,4,1,1,1,2,17000
3,2,1,2,800,2,4,2,1,1,2,10000
4,2,1,2,850,1,4,2,0,1,2,7500

In [56]:
X = data.drop(['Rent'], axis=1)
y = data['Rent']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [57]:
model = LinearRegression()
lr = model.fit(X_train, y_train)
print("Accuracy Score:", lr.score(X_test, y_test)*100)

Accuracy Score: 47.22575657285528

In [62]:
joblib.dump(lr, 'model.joblib')

['model.joblib']

In [63]:
new_model = joblib.load('model.joblib')
print("Accuracy Score:", new_model.score(X_test, y_test)*100)

Accuracy Score: 47.22575657285528